.container{
	width: 320px;
	height: 180px;
	margin: 100px auto;
	display: block;
}

.player{
	width: 320px;
	height: 180px;
	/*border: 1px solid gray;*/
	margin: 0 auto;
	cursor: pointer;
}

#vid{
	position: absolute;
    	margin-top: -184px;
    	width: 320px;
    	height: 180px;
    	cursor: pointer;
}

.hidden{
	display: none;
}