.container{
	/*width: 320px;*/
	/*height: 180px;*/
	/*margin: 100px auto;*/
	display: block;
}

.player{
	width: 320px;
	height: 180px;
	margin: 0 auto;
	cursor: pointer;
}

#vid{
	position: absolute;
	cursor: pointer;
	top: 152px;
}

.hidden{
	display: none !important;
}

#btnplay {
	width: 5%;
	margin: -109px 122px;
	display: block;
	cursor: pointer;
	z-index: 10;
	position: absolute;
	opacity: 0.2;
}

table{
	border-collapse: collapse;
	margin: 100px auto;
}

table > thead > tr{
	height: 50px;
}

table, th, td {
	border: 1px solid grey;
}