.container{
	width: 320px;
	height: 180px;
	margin: 100px auto;
	display: block;
}

.player{
	width: 320px;
	height: 180px;
	margin: 0 auto;
	cursor: pointer;
}

#vid{
	position: absolute;
	cursor: pointer;
	top: 100px;
}

.hidden{
	display: none !important;
}

#btnplay {
	width: 20%;
	margin: -109px auto;
	display: block;
	cursor: pointer;
	z-index: 10;
	position: relative;
	opacity: 0.2;
}